<br><br>
<h1>TEAM - 3</h1>
<div class="container">

  <!-- Card deck -->
  <div class="card-deck row">
  
    <div class="col-xs-12 col-sm-6 col-md-4">
    <!-- Card -->
    <div class="card">
  
   
     
        <img  src="https://media-exp1.licdn.com/dms/image/C5603AQG_oLHQN69d5A/profile-displayphoto-shrink_400_400/0/1626446882165?e=1662595200&v=beta&t=41GesqaMN53PQyEM86Bn-qsczMens96YKZKcVtX0HSA" alt="Card image cap">
      
  

      <div class="card-body">
  
  
        <h4 class="card-title">Gollapudi Rajasree</h4>
    
        <h5 class="card-subtitle">Team Lead</h5>
    
        <a  class="btn btn-primary btn-md" href="https://www.linkedin.com/in/gollapudi-rajasree-06a426182/" target="_blank">Know more</a>
  
      </div>
  
    </div>

    </div>
  
    <div class="col-xs-12 col-sm-6 col-md-4">
 
    <div class="card mb-4">
  


        <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D03AQFxDZFd8hYkjA/profile-displayphoto-shrink_400_400/0/1657022731915?e=1662595200&v=beta&t=-K4EtUnCta0J2vndj3vN2POpCoOVrvdtt05qKT04cuM" alt="Card image cap">

      <div class="card-body">
  
    
        <h4 class="card-title">Pranay Talluri</h4>
 
        <h5 class="card-subtitle">Team Member</h5>
       
      
        <a  class="btn btn-primary btn-md" href="https://www.linkedin.com/in/pranay-talluri-802935210/" target="_blank">Know more</a>
  
      </div>
  
    </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-4">

    <div class="card mb-4">
  
        <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D03AQGIC--1cNKHdQ/profile-displayphoto-shrink_400_400/0/1626525544287?e=1662595200&v=beta&t=bCtn_2rWRbTmAa0NyXT9Hn8J20iBePEipMSvYLY2C4U" alt="Card image cap">
     
  
 
      <div class="card-body">
        <h4 class="card-title">Tushar Vyavahare</h4>
        <h5 class="card-subtitle">Team Member</h5>
       
        <a href="https://www.linkedin.com/in/tusharvyavahare07/" class="btn btn-primary btn-md" target="_blank">Know more</a>
      </div>
    </div>
  </div>
  
