.card{
    margin: 3%;
  background-color: silver;
  width:75%;
  }

  h1{
    text-align: center;
    font-weight: 700;
    color: darkslategray;
  }
  
  .container{
    margin-top: 5%;
  }
  .card-body{
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;
  }
  
img{
    border-radius:60%;
    width:60%;
    position: relative;
    left:15%;
    top:5%;
}
.card-title{
    font-weight: 450;
}
