#title{
    font-size:large;
    color: white;
    font-weight: bold;
    font-family: 'Rock Salt', cursive;
    
}
#one{
    color:honeydew;
     font-size: 125%;
     text-decoration: none;

}
#one:hover{
    font-size:140%;
    font-weight:400;
}


#two{
    color: black;
    background-color: white;
}
.login{
    padding-left: 1%;
    display: flex;
}
#two{
 
}
.bottom-border{
    border-bottom: 2px solid snow;
}

.router{
    position: relative;
}