
<div class="bottom-border">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0A91AB">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" id="title">CPlayer</a>
      <button class="navbar-toggler " id="two" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon " ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" id="one" aria-current="page" routerLink="/">Home</a>
          </li>
          
          <li class="nav-item" >
            <a *ngIf="loggedIn" class="nav-link active" id="one" aria-current="page" routerLink="/favourites">Favorites</a>
          </li>
          <li class="nav-item" >
            <a *ngIf="loggedIn" class="nav-link active" id="one" aria-current="page" routerLink="/recommend">Recommendations</a>

          </li>
        </ul>
        <div class="d-flex">

          <!-- <input class="form-control me-2" type="search" placeholder="Search player" [(ngModel)]="searchName"  aria-label="Search" required> -->
          <a  class="nav-link active" id="one" aria-current="page" routerLink="/search">Search</a>


        </div>
        <div class="login">
            <a *ngIf="!loggedIn" routerLink="/login"  type="submit" id="one">Login</a>
            <a *ngIf="loggedIn" routerLink="/UserProfile" type="submit" id="one"style="margin-right:10px;">{{USERID}}</a>
            <a *ngIf="loggedIn" type="submit" id="one" (click)="logoutUser()">Logout</a>
        </div>

      </div>
    </div>
  </nav>


</div>

